// Main Content
#main {
  width: 100%;
  margin: auto;
  background-image: url("../img/stardust.png");
}

.main-content {
  max-width: 960px;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

// testing color
div.col {
  background-color: #BFF;
  // height: 50px;
}

// Headers
h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

// clearfix
.cf::after {
  content: "";
  display: table;
  clear: both;
}
