extends ./_layout.jade

block title
  title Lavi - Blog
  
block js

block content
  .main-content
    .section.cf
      .col.span_1_of_3
      .col.span_2_of_3
  
  h1 Welcome
  p.
    Testing multiline jade stuff.
    Does it work?
  h2 YES!
  p awesome
